[submodule "Convention/[nlohmann]"]
	path = Convention/[nlohmann]
	url = https://github.com/nlohmann/json.git
[submodule "Convention/[Static]"]
	path = Convention/[Static]
	url = http://www.liubai.site:3000/ninemine/ModernCPP.git
